.btn{
    background-color:green;
    border: 0;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    width: 20%;
  }
  .btn:hover{
    opacity: 0.8;
  }

  .input{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    
    box-sizing: border-box;
  }
  .container{
    text-align: center;
  
    margin-top: 100px;
    padding: 50px;
    

  }
  .title{
    color: #000000;
    font-weight: 500;
  }
 